.wave {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave h3 {
    position: absolute;
    text-align: center;
    line-height: 500px;
    font-size: 170px;
    text-transform: uppercase;
    color: white;
    
}

.wave h3:nth-child(1) {
    /* color: #7efff5; */
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.wave h3:nth-child(2) {
    color: #03a9f4;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0% {
      clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
    }
  }

  @media screen and (max-width: 500px) {
    .wave h3 {
        font-size: 100px;
        text-align: center;
    }
}